body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
}
